/* 300 - Light */
@font-face {
  font-family: "Overused Grotesk";
  src: url("/fonts/overused-grotesk/OverusedGrotesk-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

/* 400 - Book or Roman (depends which is regular) */
@font-face {
  font-family: "Overused Grotesk";
  src: url("/fonts/overused-grotesk/OverusedGrotesk-Book.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/* 500 - Medium */
@font-face {
  font-family: "Overused Grotesk";
  src: url("/fonts/overused-grotesk/OverusedGrotesk-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

/* 600 - SemiBold */
@font-face {
  font-family: "Overused Grotesk";
  src: url("/fonts/overused-grotesk/OverusedGrotesk-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

/* 700 - Bold */
@font-face {
  font-family: "Overused Grotesk";
  src: url("/fonts/overused-grotesk/OverusedGrotesk-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

/* 800 - ExtraBold */
@font-face {
  font-family: "Overused Grotesk";
  src: url("/fonts/overused-grotesk/OverusedGrotesk-ExtraBold.woff2") format("woff2");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

/* 900 - Black */
@font-face {
  font-family: "Overused Grotesk";
  src: url("/fonts/overused-grotesk/OverusedGrotesk-Black.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
